{% extends 'dashboard/base.html'%}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {{contents.language}}
            
            <h1>Question: {{contents.question }}</h1>
            <form action="{% url "content" language=contents.language.name level=contents.level.level %}" method="post">
                    {% csrf_token %}
                <input type="radio" name="{{contents.content}}" value="{{contents.answer}}" checked> {{contents.answer}}<br>
                <input type="radio" name="{{contents.content}}" value="{{contents.choice1}}"> {{contents.choice1}}<br>
                <input type="radio" name="{{contents.content}}" value="{{contents.choice1}}"> {{contents.choice1}} <br>
                <input type="submit" value="Submit">
              </form>
            
        </div>
    </div>
</div>



{% endblock %}