{% extends 'dashboard/base.html'%}
{% load bootstrap3 %}
{% load static %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<style>
    #langauges{
        opacity:0.8;
        font-size:280%;
        margin-right:2%;
        margin-top:4%;
        height:30vh; 
        width:15%;
    }
    .btn-info {
    background-color: #33b5e5!important;
    color: #fff!important;
    height: 20vh;
    width:20vw;
    font-size: 800%;
}

@media only screen and (max-width: 480px)
{
*{
    color:yellow;
}

 #languages{
      
      font-size: 280%;
    float: right;
    margin-right: 16%;
    margin-top: 4%;
    
}
    
}
}
</style>
{%endblock %}
{% block content %}
{{block.super}}
<div class="container" style="font-family: 'Quicksand', sans-serif;color:#4d95a5;margin-top:9em;">
    <div class="row">
        <div class="col-xs-12">
            <hr>
            <h3>Translator</h3>
            <form action="{% url 'translate' %}" role='search'>
                    <input type="text" method='get' placeholder="Input Word" name="translator">
                    <input list="languages" placeholder="Choose Language"  method='get' name='language'>
                    <datalist id="languages">
                        {% for language in languages %}
                        <option value="{{language.name}}">
                        {%endfor%}
                    </datalist>
                <input type="submit" value="translate">
                </form>

            <hr>
            <h1>Hey {{user.username}}</h2>

                <h3>Choose a language to learn</h3>
               
            </div>
        </div>
    </div>
           
            <div class="container">
            <div class="row">
                    {% for language in languages %}
            <div class="col-xs-4">
                hey
                <form action="{% url 'level' language.name %}" style="margin-left:0vw;font-family: 'Quicksand', sans-serif;">
                    <input id ="languages" method='get' type="submit" value="{{language.name}}" name="language" class="btn btn-info btn-rounded">
                </form>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}



