{% extends 'dashboard/base.html'%}
{% load bootstrap3 %}
{% load static %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{%endblock %}
{% block content %}
{{block.super}}
<div class="container" style="font-family: 'Quicksand', sans-serif;color:#45b4c6;">
    <div class="row">
        <div class="col-xs-12">
            <hr>
            <h3>Translator</h3>
            <form action="{% url 'translate' %}" role='search'>
                    <input type="text" method='get' placeholder="Input Word" name="translator">
                    <input list="languages" placeholder="Choose Langauge"  method='get' name='language'>
                    <datalist id="languages">
                        {% for language in languages %}
                        <option value="{{language.name}}">
                        {%endfor%}
                    </datalist>
                <input type="submit" value="translate">
                </form>
           
            <hr>
            <h1>Hey {{user.username}}</h2>
                
                <h3>Choose a language to learn</h3>
                {% for language in languages %}





                <form action="{% url 'level' language.name %}" style="margin-left:-30vw;font-family: 'Quicksand', sans-serif;">
                    <input method='get' type="submit" value="{{language.name}}" name="language" class="btn btn-info btn-rounded" style="opacity:0.8;font-size:300%;float:right;margin-right:2%;margin-top:4%;height:30vh;width:15%;">
                </form>

                {% endfor %}
        </div>
    </div>
</div>



{% endblock %}
