{% extends 'dashboard/main.html'%}
{% load static %}
{% block content %}
<style>
.gradient {
  background-image:
    linear-gradient(
      #5bc3ea,white
    );
    width:100vw;
    height:430%;
    margin-top: -70vh;
    margin-left: -2vw;
    border-bottom: 0px;
}
a {
  color:#c83a2e;
}
</style>

<!-- <h1>Chewa</h1> -->
<div class="jumbotron" style="background-color:white;">
  <div class="gradient">

<img src="/media/chewabackground2.jpg" id="main">
<img src="/media/chewabackground.jpg" id="main2">
<img src="/media/logo.jpg" id="logo">


</div>

</div>


<!--Jumbotron left-->

    <div class="container fluid" style="margin-top:60%;">
        <h1 class="h1-reponsive mb-4 mt-2" style="color:#76b5c1;text-align:center;font-size:4em;"> What is Chewa?</h1>
        <h3 class="lead" style="font-size:166%;">Chewa is a language learning web application that is designed to teach you the language of your choice, from beginner to a competent level of fluency. Our selection of languages are all local kenyan languages, starting with Kiswahili, Kikuyu, Luo, and KSL. We use a point based system so you can track your progress in each language, and have a lot of learning support. </h3>
    </div>

<!--Jumbotron-->
<h3 style="margin-top:10vh;text-align:center;font-size:4em;color:#76b5c1">How do I use Chewa?</h3>
<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid" style="margin-top:10vh;height:40%;width:45%;">

    <div class="container">
          <h2 class="h1-reponsive mb-4 mt-2"><span style="color:#76b5c1;font-size:2em;margin-top:-2em;">1.</span></h2>
        <h2 class="lead" style="margin-top:-0.5em; font-size:160%;">First create an account with us! You can use your google sign up or make a custom account with us.</h2>
    </div>

</div>
<img src="media/chewa_img/signup-icon.png" style="margin-left:60%;margin-top:-25%;">
<!--Jumbotron-->

<!--Jumbotron right-->
<div class="jumbotron jumbotron-fluid" style="margin-top:10vh;height:40%;width:50%;margin-left:50vw;">

    <div class="container">
          <h2 class="h1-reponsive mb-4 mt-2"><span style="color:#76b5c1;font-size:2em;margin-top:-2em;">2.</span></h2>
        <h2 class="lead" style="margin-top:-0.5em; font-size:160%;">Go through our classes at any time, where you will go through from the base level of how to greet someone in a language as the first phase, and then how to address the family members in the second level.</h2>
    </div>

</div>
<img src="media/chewa_img/steps.jpg" style="margin-top:-25%;width:50%;">
<!--Jumbotron-->

<!--Jumbotron left-->

<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid" style="margin-top:10vh;height:40%;width:45%;">

    <div class="container">
                <h2 class="h1-reponsive mb-4 mt-2"><span style="color:#76b5c1;font-size:2em;margin-top:-2em;">3.</span></h2>
        <h2 class="lead" style="margin-top:-0.5em; font-size:160%;">You will be able to hear how each of the words you have heard in your lessons are pronounced in the consecutive page to each section. Luckily we have this option available for each language!</h2>
    </div>

</div>
<img src="media/chewa_img/listening.png" style="margin-left:60%;margin-top:-25%;width:20%;">
<!--Jumbotron-->

<!--Jumbotron right-->
<div class="jumbotron jumbotron-fluid" style="margin-top:10vh;height:40%;width:50%;margin-left:50vw;">

    <div class="container">
        <h2 class="h1-reponsive mb-4 mt-2"><span style="color:#76b5c1;font-size:2em;margin-top:-1em;">4.</span></h2>
        <h2 class="lead" style="margin-top:-0.5em; font-size:160%;">When you are done learning, you can go to home, and choose your lanuguage to quick yourself and then the level you are learning at, and collect the points you need to move to the next level! </h2>
    </div>

</div>
<img src="media/chewa_img/quiz.png" style="margin-left:20%;margin-top:-25%;width:20%;">

<h2 style="margin-top:10vh;text-align:center;font-size:4em;color:#4d95a5;margin-bottom:10vh;">Let's get you started!</h2>
<a href="{% url 'login'%}"><h4 style="font-size:3em;text-align:center;">click me</h4></a>
<!--Jumbotron-->
{% endblock %}
