{% extends 'dashboard/base.html'%}
{% load bootstrap3 %}
{% load static %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{%endblock %}
{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
                <div class="response" style="margin-top: 180px;">
                        {% if words %}
                            {%for word in words%}
                            <h4> {{message}} in {{word.language.name}} is:
                            {{word.answer}}</h4> 
            
                            <div class="card" style="width: 33rem;font-size:110%;float:left;margin-left:2%;margin-top:2%;">
                                <div class="card-body">
                                  <img src="/media/{{word.image}}" style="height:34vh;margin-left:8%;">
                              
                                  <h2>{{one_lesson_item.answer}}</h2>
                              
                                  <audio controls>
                                      <source src="/media/{{ word.audio }}" type="audio/mpeg">
                                  </audio>
                              
                                </div>
                              </div>

                            {%endfor%}
                            {% else %}
                            <h4>Nothing found for {{message}} in {{language}}</h4>
                            {% endif %}
                         </div> 
               
        </div>
    </div>
</div>



{% endblock %}



