{% extends 'dashboard/base.html'%}
{% load static %}
{% block content %}
{{block.super}}
<div class="container" style="font-family: 'Quicksand', sans-serif;color:#4d95a5;margin-top:9em;">
    <div class="row">
        <div class="col-xs-12" style="font-size:170%;">
           <h3 style="font-size:200%;">Name:{{profile.name}}</h3>
           <h2 style="font-size:160%;">Email:{{profile.email}}</h2>
           <h2 style="font-size:160%;">Total Score: {{profile.total_score}}</h2>


<br>
           <a href="{% url 'edit_profile' %}"><button class='btn btn-info'> Edit Profile</button></a>

        </div>
    </div>
</div>



{% endblock %}
