{% extends 'dashboard/base.html' %}
{% block content %}
<p style="font-family: 'Quicksand', sans-serif;font-size:340%;color:#4d95a5;margin-left:1em;margin-top:2.5em;">Let's see it in action.....</p>
<h2 style="font-family: 'Quicksand', sans-serif;font-size:280%;color:#4d95a5;text-align:center;margin-bottom:1em;">The Alphabet</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/WNigt-vfTX0" frameborder="0" allow="autoplay; encrypted-media" style="margin-left:25vw;margin-bottom:2em;"allowfullscreen ></iframe>

<h2 style="font-family: 'Quicksand', sans-serif;font-size:280%;color:#4d95a5;text-align:center;margin-bottom:1em;">Greetings</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/F-e19ZqRIHs" frameborder="0" allow="autoplay; encrypted-media"style="margin-left:25vw;" allowfullscreen></iframe>


<h2 style="font-family: 'Quicksand', sans-serif;font-size:280%;color:#4d95a5;text-align:center;margin-bottom:1em;">Pronouns</h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/z2S2XsZLDlI" frameborder="0" allow="autoplay; encrypted-media"style="margin-left:25vw;margin-bottom:6em;" allowfullscreen></iframe> 

{%endblock%}

