{%extends 'dashboard/base.html'%}
{% block content %}
<p style="font-family: 'Quicksand', sans-serif;font-size:2.42em;color:#82cadf;margin-left:1em;margin-top:1em;">What level are you?</p>

<div class="container" style="font-family: 'Quicksand', sans-serif;margin-top:6em;opacity:0.8;">

<a href="{% url 'ki-begin' %}"><button type="button" class="btn btn-info btn-lg btn-block" style="width:50%;margin-left:14em;"><span style="font-size:2.1em;">Beginner</span></button></a>
<br>
<button type="button" class="btn btn-info btn-lg btn-block" style="width:50%;margin-left:14em;"><span style="font-size:2.1em;">Intermediate</span></button>
<br>
<button type="button" class="btn btn-info btn-lg btn-block" style="width:50%;margin-left:14em;"><span style="font-size:2.1em;">Advanced</span></button>
</div>
{% endblock %}
