{% extends 'dashboard/base.html' %}
{% block content %}
<p style="font-family: 'Quicksand', sans-serif;font-size:270%;color:#4d95a5;margin-left:1em;margin-top:2.5em;">Let's continue with family.....</p>

<img src="/media/chewa_img/Family-swa.jpg" style="margin-left:10%;margin-top:0.5em;width:85%;"><br>

<a href="{% url 'swa_family_audio'%}"><span class="glyphicon glyphicon-menu-right" style="font-size:5em;color:#82cadf;margin-top:-0.2em;margin-bottom:-6em;margin-left:80%;height:5em;"></span></a>
{% endblock %}
