{% extends 'dashboard/base.html' %}
{% block content %}
<p style="font-family: 'Quicksand', sans-serif;font-size:2.42em;color:#82cadf;margin-left:1em;margin-top:2.5em;">Let's start with some greetings.....</p>
<img src="media/chewa_img/greetings-luo.jpg" style="height:25em;margin-left:13em;margin-top:0.5em;"><br>

<a href="{% url 'luo-begin-test' %}"><span class="glyphicon glyphicon-menu-right" style="font-size:5em;color:#82cadf;margin-top:-0.2em;margin-bottom:1em;margin-left:12em;"></span></a>
{% endblock %}
