#image{
  height:1vh;
}
.jumbotron{
  background-image: url('/media/homepage.jpg');
  background-size: cover;

}
input[value=text] {
    width: 100px;
    transition: ease-in-out, width .35s ease-in-out;
}

#back{
  margin-left:28%;
  margin-right:20%;
  margin-top: 10%;
  height:35em;
  width:40em;
  border-radius: 3%;
  padding:3%;
  background:#7EC7DC;
  opacity: 1;
  color:white;
}
.content > *{
  opacity: 1;
}
@media only screen and (max-width: 480px), only screen and (max-width: 760px)
{
*{

}

}
