
{% load bootstrap3 %}
{% load static %}


<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link stylesheet="{% static 'css/main.css' %}"/>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{%  static 'js/jquery-3.3.1.js' %}">
  <link type="text/javascript" rel="stylesheet" href="{%   static 'js/scripts.js '%}">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title>Chewa - {{title}}</title>
  {% else %}
  <title> Chewa </title>
  {% endif %} {% block styles %} {% bootstrap_css %}
  {% endblock %}

  <link rel="shortcut icon" href="{% static 'favicon/smaller_R5A_icon.ico'%}"/>
</head>

<body>
  {% include 'navbar.html'%} 
  {% block content %} {%endblock%} 
  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}
</body>

</html>
