{%extends 'dashboard/base.html'%} {%load bootstrap3 %} {% block content %}
<div class="container">
  <div class="row">
    <h1 style="font-family: 'Quicksand', sans-serif;font-size:2.42em;color:#82cadf;"> Languages to learn</h1>
    <hr>

    <div class="container" style="margin-left:3em;display:inline-block;margin-top:5em;opacity:0.8;font-family: 'Quicksand'">

  <button type="button" class="btn btn-info btn-rounded" style="height:15em;width:15em;"><span style="font-size:3em;">KSL</span></button>
  <button type="button" class="btn btn-info btn-rounded" style="height:15em;width:15em;margin-left:0.8em;"><span style="font-size:3em;">Dholuo</span></button>
  <button type="button" class="btn btn-info btn-rounded" style="height:15em;width:15em;margin-left:0.8em;"><span style="font-size:3em;">Kikuyu<span></button>
  <button type="button" class="btn btn-info btn-rounded" style="height:15em;width:15em;margin-left:0.8em;"><span style="font-size:3em;">Kiswahili</span></button>
  </div>
</div>
</div>
{% endblock %}
