{% extends 'dashboard/base.html'%}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Translator</h1>
            <hr>
            <!-- here{{scores.score.count}} -->
            Your score is: {{scores}}
            
        </div>
    </div>
</div>
<div class="container">

    <div class="row">
      {% if answers%}
        <h2>Found {{ answers|length }} of searched term {{message}}</h2>
      {% else %}
        <h2> No answers for the search term {{message}}</h2>
      {% endif %}
  
    </div>
  
    <div class="row">
  
    {% if answers %}
      {% for answer in answers %}
        <div class="col-md-4">
            <h1>{{answer.question}}</h1>
            <!-- <img src="{{image.post_image.url}}" class="img-responsive" alt="Image" style="width: 500px; height: 250px;"> -->
        </div>
      {% endfor %}
    {% endif %}
    </div>
  </div>


{% endblock %}